*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family: Helvetica, Arial, san-serif;

  background-color: #333;
}


.outlet {
  display: flex;
  flex-wrap: wrap;
}


.gif-item {
  position: relative;

  width: 50%;
  height: 100px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.gif-item:hover:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  content: 'Copy';
  color: white;
}


.add-gif {
  display: flex;
}


.add-gif__input,
.add-gif__button {
  height: 30px;

  cursor: pointer;
  outline: none;

  border: 2px solid lightgreen;
}


.add-gif__input {
  padding: 5px;
  margin-bottom: 10px;

  flex: 1;

  color: #fff;
  background-color: #666;
}


.add-gif__button {
  background-color: lightgreen;
}
